@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

body {
  margin-top: 16px;
  width: 1128px;
  background-color: #fff;
  color: rgba(46, 47, 66, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
